<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2>장바구니</h2> <!-- 전체 상품 목록 -->
<div class="container">
    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>상품명 + 색상</th>
                <th>가격</th>
                <th>수량</th>
                <th>구매</th>
                <th>수정/삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="basketInProducts : ${list}">
                <!--                <td th:text="${product.id}"></td>-->
                <td>
                    <a th:href="@{/products/detail/{productId} (productId=${basketInProducts.products.id})}" th:text="|${basketInProducts.products.name} ${basketInProducts.products.color}|"></a>
                </td>
                <td th:text="|${basketInProducts.products.price}|"></td>
                <td>
                    <form th:action="@{/order/basket/{productId} (productId=${basketInProducts.products.id})}" method="post">
                        <input type="number" th:value="|${basketInProducts.quantity}|" name="quantity">
                        <button type="submit"  th:name="action" th:value="myBasket" >
                            수정
                        </button>
                    </form>
                </td>
                <!--                <td th:text="${product.member.name}"></td>-->
                <td>
                    <a href="#" th:href="@{/products/detail/{id} }" class="btn btn-primary" role="button">
                        구매하기
                    </a>
                </td>
                <td>

                    <a href="#" th:href="@{/basket/delete/{id} (id=${basketInProducts.basProductId})}" class="btn btn-primary" role="button">
                        삭제하기
                    </a>
                </td>
                <td>
                    <a href="#" th:href="@{/order/buyAll}" class="btn btn-primary" role="button">
                        전체구매
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
<script>

</script>
<th:block th:replace="include/footer :: footer"></th:block>
</body>
</html>