<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <form th:action="/test" method="post">
        <input type="text">
        <button type="submit">검색</button>
    </form>

    <form th:action th:object="${form}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <input type="text" th:field="*{memberEmail}" placeholder="아이디" th:errorclass="field-error">
        <div class="field-error" th:errors="*{memberEmail}" />  <!-- 에러가 있을 때만 보여주는 디브 태그 -->



    </form>
</body>
</html>