<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2 th:text="${msg}">상품등록(디테일) 페이지 </h2>
<form th:action="@{/order/basket/{productId} (productId=${product.id})}" th:object="${product}" method="post">
    <div class="form-group">
        <input type="hidden" name="productId" th:value="*{id}"/>
        <div>상품이름</div>
        <div th:text="*{name}"></div>
        <div>브랜드</div>
        <div th:text="*{brand.name}"></div>
        <div>상품이미지</div>
        <div th:each="img : ${imgs}">
            <img th:src="@{|/upload/${img.saveName}|}"/>
        </div>
        <input type="number" th:value="1" th:>
        <button class="btn btn-primary" role="button">
            찜
        </button>
        <a href="#" th:href="@{/order/buy/{productId} (productId=${product.id})}" class="btn btn-primary" role="button">
            즉시구매
        </a>
        <a th:unless="${accessrigths == 'NORMAL'}" th:href="@{/products/edit/{id} (id=${product.id})}" class="btn btn-primary" role="button">
            수정 <!-- 관리자 권한일 때에만 표시 -->
        </a>
        <div>띄우기</div>
        <div>ㅇㅇ</div>
        <a th:unless="${accessrigths == 'NORMAL'}" th:href="@{/products/delete/{id} (id=${product.id})}" class="btn btn-primary" role="button">
            삭제 <!-- 관리자 권한일 때에만 표시 -->
        </a>
    </div>
</form>

</body>
</html>