
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2>전체 상품 목록</h2> <!-- 전체 상품 목록 -->
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <!--                <td th:text="${product.id}"></td>-->
                <td th:text="|${product.name}|"></td>
                <td th:text="|${product.price}|"></td>
                <td th:text="${product.stockQuantity}"></td>
                <!--                <td th:text="${product.member.name}"></td>-->
                <td>
                    <a href="#" th:href="@{/products/{id}/detail (id=${product.id})}" role="button">
                        상세보기
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

<th:block th:replace="include/footer :: footer"></th:block>
</body>
</html>