<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:replace="include/header :: header"></th:block>
    <style>
        .aa{
            font-weight: 800;
        }
        .aa:hover{
            cursor: pointer;
            color: rgb(136, 136, 136);
        }
        thead{
            background-color: rgb(223, 223, 223);
            padding: 10px;
        }
        thead>tr>th{
            padding:5px;
        }
        .tdtd{
            padding: 5px;
        }
        
    </style>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2 id="addProduct">상품 등록 리스트(관리자)</h2> <!-- 로그인된 정보로 상품 리스트 불러오기 -->
<div class="container my lg" data-v-e2abb636="" data-v-cdf8523a="">
    <th:block th:replace="include/managerMenu :: managerMenu"></th:block>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상품 아이디</th>
                <th>상품명</th>
                <th>색상</th>
                <th>가격</th>
                <th>재고수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td class="tdtd" th:text="${product.id}"></td>
                <td class="tdtd" th:text="|${product.name}|"></td>
                <td class="tdtd" th:text="|${product.color}|"></td>
                <td class="tdtd" th:text="|${product.price}|"></td>
                <td class="tdtd" th:text="${product.stockQuantity}"></td>
                <td class="tdtd">
                    <a href="#" th:href="@{/products/detail/{id} (id=${product.id})}" class="btn btn-primary aa" role="button">
                        상세보기
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <form method="get" th:action id="cateform">
            <input name="nameSearch" id="catelist">
            <button type="submit">검색</button>
        </form>
        <div class="paging">
            <a th:if="${5 < startPage}" th:href="@{/products/myList(page = ${startPage-6},nameSearch = ${param.nameSearch},brandId=${param.brandId})}">
                <i class="fas fa-chevron-left"></i>
            </a>
            <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/products/myList(page = ${page-1},nameSearch = ${param.nameSearch})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}"  th:text="${page}" style="color:red"></strong>
            </th:block>
            <a th:if="${totalPage > endPage && endPage != 0}" th:href="@{/products/myList(page = ${endPage}, nameSearch = ${param.nameSearch})}">
                <i class="fas fa-chevron-right"></i> <!-- Font Awesome 아이콘 클래스를 추가합니다 -->
            </a>
        </div>
    </div>
</div>



<th:block th:replace="include/footer :: footer"></th:block>
</body>
</html>