<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
  <div id="__nuxt">
    <div id="__layout">
      <div id="wrap" tabindex="0" class="layout_base md is_scroll wrap win_os md" data-v-e2abb636="" data-v-c8624148="">
        <div class="footer md" data-v-3c5dd5d1="" data-v-c8624148="" data-v-e2abb636="">
          <div class="inner" data-v-3c5dd5d1="">
            <div class="service_area" data-v-3c5dd5d1="">
              <div class="customer_service" data-v-3c5dd5d1="">
                <strong class="service_title" data-v-3c5dd5d1="">
                  고객센터
                  <a href="tel:1588-7813" class="sevice_tel" data-v-3c5dd5d1="">
                    1588-7813
                  </a>
                </strong>
                <div class="service_time" data-v-3c5dd5d1="">
                  <dl class="time_box" data-v-3c5dd5d1="">
                    <dt class="time_term" data-v-3c5dd5d1="">운영시간 평일 11:00 - 18:00 (토∙일, 공휴일 휴무)
                      점심시간 평일 13:00 - 14:00</dt>
                  </dl>
                </div>
                <p class="service_noti" data-v-3c5dd5d1="">1:1 문의하기는 앱에서만 가능합니다.</p>
                <div class="service_btn_box" data-v-3c5dd5d1=""><a href="/customer/questions" class="btn solid small"
                                                                   data-v-472c9b08="" data-v-3c5dd5d1=""> 자주 묻는 질문 </a></div>
              </div>
              <div class="footer_menu" data-v-3c5dd5d1="">
                <div class="menu_box" data-v-3c5dd5d1=""><strong class="menu_title"
                                                                 data-v-3c5dd5d1="">이용안내</strong>
                  <ul class="menu_list" data-v-3c5dd5d1="">
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="#" class="menu_link"
                                                                data-v-3c5dd5d1=""> 검수기준 </a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="#" class="menu_link"
                                                                data-v-3c5dd5d1=""> 이용정책 </a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="#" class="menu_link"
                                                                data-v-3c5dd5d1=""> 페널티 정책 </a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="#" class="menu_link"
                                                                data-v-3c5dd5d1=""> 커뮤니티 가이드라인 </a></li>
                  </ul>
                </div>
                <div class="menu_box" data-v-3c5dd5d1=""><strong class="menu_title"
                                                                 data-v-3c5dd5d1="">고객지원</strong>
                  <ul class="menu_list" data-v-3c5dd5d1="">
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/notice" class="menu_link"
                                                                data-v-3c5dd5d1="">공지사항</a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/about" target="_blank"
                                                                class="menu_link" data-v-3c5dd5d1="">서비스 소개</a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/showroom" target="_blank"
                                                                class="menu_link" data-v-3c5dd5d1=""> 스토어 안내 </a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/about/seller_reception"
                                                                target="_blank" class="menu_link" data-v-3c5dd5d1="">판매자 방문접수</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="corporation_area" data-v-3c5dd5d1="">
              <ul class="term_list" data-v-3c5dd5d1="">
                <li class="term_item" data-v-3c5dd5d1=""><a href="https://www.kreamcorp.com/"
                                                            target="_blank" rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1="">
                  회사소개 </a></li>
                <li class="term_item" data-v-3c5dd5d1=""><a href="https://recruit.kreamcorp.com/"
                                                            target="_blank" rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1="">
                  인재채용 </a></li>
                <li class="term_item" style="display:none;" data-v-3c5dd5d1=""><a
                        href="https://www.kreamcorp.com/view/contact.html" target="_blank"
                        rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1=""> 제휴제안 </a></li>
                <li class="term_item" data-v-3c5dd5d1=""><a href="#" class="term_link"
                                                            data-v-3c5dd5d1=""> 이용약관 </a></li>
                <li class="term_item privacy" data-v-3c5dd5d1=""><a href="#" class="term_link"
                                                                    data-v-3c5dd5d1=""> 개인정보처리방침 </a></li>
              </ul>
              <div class="footer_sns" data-v-3c5dd5d1="">
                <div class="sns_box" data-v-3c5dd5d1=""><a href="#" aria-label="인스타그램" class="sns"
                                                           data-v-3c5dd5d1=""><svg xmlns="http://www.w3.org/2000/svg"
                                                                                   class="ico-instagram icon sprite-icons" data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-instagram"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-instagram"
                       data-v-3c5dd5d1=""></use>
                </svg></a><a href="#" aria-label="페이스북" class="sns" data-v-3c5dd5d1=""><svg
                        xmlns="http://www.w3.org/2000/svg" class="ico-facebook icon sprite-icons"
                        data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-facebook"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-facebook"
                       data-v-3c5dd5d1=""></use>
                </svg></a><a href="#" aria-label="카카오톡" class="sns" data-v-3c5dd5d1=""><svg
                        xmlns="http://www.w3.org/2000/svg" class="ico-talk icon sprite-icons"
                        data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-talk"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-talk"
                       data-v-3c5dd5d1=""></use>
                </svg></a></div><button class="btn_business" data-v-3c5dd5d1=""> 사업자정보 <svg
                      xmlns="http://www.w3.org/2000/svg" class="arr-down icon sprite-icons"
                      data-v-3c5dd5d1="">
                <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-arr-down"
                     xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-arr-down"
                     data-v-3c5dd5d1=""></use>
              </svg></button>
              </div>
              <div class="business_info" data-v-3c5dd5d1="">
                <div class="info_list" data-v-3c5dd5d1="">
                  <dl class="info_item" data-v-3c5dd5d1="">
                    <dt class="business_title" data-v-3c5dd5d1="">크림 주식회사 · 대표 김창욱<span
                      class="blank"></span>사업자등록번호 : 570-88-01618 <a
                      href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5708801618">사업자정보확인</a><span
                      class="blank"></span>통신판매업 : 제 2021-성남분당C-0093호<span
                      class="blank"></span>사업장소재지 : 경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1, 8층<span
                      class="blank"></span>호스팅 서비스 : 네이버 클라우드 ㈜
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
            <div data-v-3c5dd5d1="">
              <div data-v-3c5dd5d1="" class="notice_guarantee">
                <p data-v-3c5dd5d1="" class="title">신한은행 채무지급보증 안내</p>
                <p data-v-3c5dd5d1="" class="description"> 당사는 고객님의 현금 결제 금액에 대해 신한은행과 채무지급보증 계약을 체결하여
                  안전거래를 보장하고 있습니다.<a data-v-3c5dd5d1="" href="#" class="link_guarantee">서비스가입 사실
                    확인</a></p>
              </div>
            </div>
            <div class="notice_area" data-v-3c5dd5d1="">
              <p class="notice" data-v-3c5dd5d1="">크림(주)는 통신판매 중개자로서 통신판매의 당사자가 아닙니다. 본 상품은 개별판매자가 등록한
                상품으로 상품, 상품정보, 거래에 관한 의무와 책임은 각 판매자에게 있습니다. 단, 이용약관 및 정책, 기타 거래 체결 과정에서 고지하는 내용 등에 따라
                검수하고 보증하는 내용에 대한 책임은 크림(주)에 있습니다.</p>
              <p class="copyright" data-v-3c5dd5d1="">© KREAM Corp.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>

</html>