<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
  <div id="__nuxt">
    <div id="__layout">
      <div id="wrap" tabindex="0" class="layout_base md is_scroll wrap win_os md" data-v-e2abb636="" data-v-c8624148="">
        <div class="footer md" data-v-3c5dd5d1="" data-v-c8624148="" data-v-e2abb636="">
          <div class="inner" data-v-3c5dd5d1="">
            <div class="service_area" data-v-3c5dd5d1="">
              <div class="customer_service" data-v-3c5dd5d1="">
                <strong class="service_title" data-v-3c5dd5d1="">
                  고객센터
                  <a href="tel:1588-XXXX" class="sevice_tel" data-v-3c5dd5d1="">
                    1588-XXXX
                  </a>
                </strong>
                <div class="service_time" data-v-3c5dd5d1="">
                  <dl class="time_box" data-v-3c5dd5d1="">
                    <dt class="time_term" data-v-3c5dd5d1="">운영시간 평일 11:00 - 18:00 (토∙일, 공휴일 휴무)
                      점심시간 평일 13:00 - 14:00</dt>
                  </dl>
                </div>
                <div class="service_btn_box" data-v-3c5dd5d1=""><a href="/customer/questions" class="btn solid small"
                                                                   data-v-472c9b08="" data-v-3c5dd5d1=""> 자주 묻는 질문 </a></div>
              </div>
              <div class="footer_menu" data-v-3c5dd5d1="">

                <div class="menu_box" data-v-3c5dd5d1=""><strong class="menu_title"
                                                                 data-v-3c5dd5d1="">고객지원</strong>
                  <ul class="menu_list" data-v-3c5dd5d1="">
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/customer/notice" class="menu_link"
                                                                data-v-3c5dd5d1="">공지사항</a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/#" target="_blank"
                                                                class="menu_link" data-v-3c5dd5d1="">개인정보처리방침</a></li>
                    <li class="menu_item" data-v-3c5dd5d1=""><a href="/customer/inspectionStandards" target="_blank"
                                                                class="menu_link" data-v-3c5dd5d1="">검수 기준</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="corporation_area" data-v-3c5dd5d1="">
              <ul class="term_list" data-v-3c5dd5d1="">
                <li class="term_item" data-v-3c5dd5d1=""><a href="https://www.kreamcorp.com/"
                                                            target="_blank" rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1="">
                  회사소개 </a></li>
                <li class="term_item" data-v-3c5dd5d1=""><a href="https://recruit.kreamcorp.com/"
                                                            target="_blank" rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1="">
                  인재채용 </a></li>
                <li class="term_item" style="display:none;" data-v-3c5dd5d1=""><a
                        href="https://www.kreamcorp.com/view/contact.html" target="_blank"
                        rel="noopener noreferrer" class="term_link" data-v-3c5dd5d1=""> 제휴제안 </a></li>
                <li class="term_item" data-v-3c5dd5d1=""><a href="#" class="term_link"
                                                            data-v-3c5dd5d1=""> 이용약관 </a></li>
                <li class="term_item privacy" data-v-3c5dd5d1=""><a href="#" class="term_link"
                                                                    data-v-3c5dd5d1=""> 개인정보처리방침 </a></li>
              </ul>
              <div class="footer_sns" data-v-3c5dd5d1="">
                <div class="sns_box" data-v-3c5dd5d1=""><a href="https://www.instagram.com/showuruncommon/" aria-label="인스타그램" class="sns"
                                                           data-v-3c5dd5d1=""><svg xmlns="http://www.w3.org/2000/svg"
                                                                                   class="ico-instagram icon sprite-icons" data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-instagram"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-instagram"
                       data-v-3c5dd5d1=""></use>
                </svg></a><a href="https://www.facebook.com/profile.php?id=61552073191844" aria-label="페이스북" class="sns" data-v-3c5dd5d1=""><svg
                        xmlns="http://www.w3.org/2000/svg" class="ico-facebook icon sprite-icons"
                        data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-facebook"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-facebook"
                       data-v-3c5dd5d1=""></use>
                </svg></a><a href="#" aria-label="카카오톡" class="sns" data-v-3c5dd5d1=""><svg
                        xmlns="http://www.w3.org/2000/svg" class="ico-talk icon sprite-icons"
                        data-v-3c5dd5d1="">
                  <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-talk"
                       xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-ico-talk"
                       data-v-3c5dd5d1=""></use>
                </svg></a></div><button class="btn_business" data-v-3c5dd5d1=""> 사업자정보 <svg
                      xmlns="http://www.w3.org/2000/svg" class="arr-down icon sprite-icons"
                      data-v-3c5dd5d1="">
                <use href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-arr-down"
                     xlink:href="/_nuxt/b685a18dbba161b5c3cf613cb39a8946.svg#i-arr-down"
                     data-v-3c5dd5d1=""></use>
              </svg></button>
              </div>
              <div class="business_info" data-v-3c5dd5d1="">
                <div class="info_list" data-v-3c5dd5d1="">
                  <dl class="info_item" data-v-3c5dd5d1="">
                    <dt class="business_title" data-v-3c5dd5d1=""> 브로그래머스 · 공동대표 조소윤 정시화 박한규 김한결 <span
                            class="blank"></span>
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>

</html>