<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
<!--    <link th:href="@{/css/_nuxt/css/094fba3.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/_nuxt/css/ca6ffd3.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/_nuxt/css/374fe8b.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/_nuxt/css/ba992b2.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/094fba3.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{/css/ca6ffd3.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{/css/374fe8b.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{/css/ba992b2.css}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="/css/_nuxt/css/094fba3.css">
    <link rel="stylesheet" href="/css/_nuxt/css/ca6ffd3.css">
    <link rel="stylesheet" href="/css/_nuxt/css/374fe8b.css">
    <link rel="stylesheet" href="/css/_nuxt/css/ba992b2.css">
<!--    <link rel="stylesheet" href="/css/094fba3.css">-->
<!--    <link rel="stylesheet" href="/css/ca6ffd3.css">-->
<!--    <link rel="stylesheet" href="/css/374fe8b.css">-->
<!--    <link rel="stylesheet" href="/css/ba992b2.css">-->
    <meta charset="utf-8">
    <title>Hello, world!</title>
</th:block>

