<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>UNCOMMON | 회원가입 페이지</title>

    <link rel="stylesheet" href="/_nuxt/css/12266fe.css">

    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<div id="__nuxt" >
    <div id="__layout" style="width:400px; margin:auto;">
        <div id="wrap" tabindex="0" class="layout_base lg wrap win_os lg" data-v-e2abb636="" data-v-6d2e0ef8="" style="padding-bottom: 86px;padding-top: 45px;">
            <div data-v-286e873e="" data-v-6d2e0ef8="" class="container join">
                <div data-v-286e873e="" class="content lg">
                    <div data-v-286e873e="" class="join_area" style="padding-bottom: 30px;">
                        <h2 data-v-286e873e="" class="join_title" style="text-align : center;padding-bottom: 40px;">회원가입</h2>

                        <form th:action="@{/member/joinMember}" method="post" th:object="${form}">
                            <div th:if="${#fields.hasGlobalErrors()}">
                                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                            </div>

<!--                            &lt;!&ndash;이메일(인증 포함)&ndash;&gt;
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_join input_box" style="padding-bottom: 0px;">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess" th:for="email">이메일 주소</h3>
                                    <div class="field-error" th:errors="*{email}" />
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item" >
                                    <input data-v-4e1fd2e6="" type="email" placeholder="이메일 인증을 해주세요" class="input_txt" th:field="*{email}" readonly>
                                </div>
                                &lt;!&ndash;button 태그로 만들면 이메일 인증 버튼을 눌렀을때 form제출. 그래서 input태그로 만듬&ndash;&gt;
                                <div data-v-4e1fd2e6="" class="input_item" style="text-align: right;">
                                    <input type="button" th:onclick="openNewWindow()" placeholder="예) uncommon@uncommon.co.kr" value="이메일 인증" >
                                </div>
                            </div>-->


                            <!--이메일(인증 미포함)-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_join input_box">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess" th:for="email">이메일 주소</h3>
                                    <div class="field-error" th:errors="*{email}" />
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="email" placeholder="예) uncommon@uncommon.co.kr" class="input_txt" th:field="*{email}">
                                </div>
                            </div>


                            <!--이름-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_join input_box">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess" th:for="name">이름</h3>
                                    <div class="field-error" th:errors="*{name}" />
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="text" placeholder="예) 홍길동" autocomplete="off" class="input_txt" th:field="*{name}">
                                </div>

                            </div><!---->


                            <!--비밀번호-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess" th:for="pwd">비밀번호</h3>
                                    <div class="field-error" th:errors="*{pwd}" />
                                </div>

                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="password" placeholder="영문, 숫자, 특수문자 조합 8-16자" autocomplete="off" class="input_txt" th:field="*{pwd}">
                                </div>

                            </div><!---->


                            <!--비밀번호 확인-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess" th:for="pwdChk">비밀번호 확인</h3>
                                    <div class="field-error" th:errors="*{pwdChk}" />
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="password" placeholder="비밀번호를 다시 입력해 주세요" autocomplete="off" class="input_txt" th:field="*{pwdChk}">
                                </div>

                            </div><!---->


                            <!--전화번호-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button">
                                <div style="display: flex; align-items: center;">
                                    <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="input_title ess">전화번호</h3>
<!--                                    <div class="field-error" th:errors="*{pwdChk}" />-->
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="number" placeholder="예) 01012345678" autocomplete="off" class="input_txt">
                                </div>

                            </div><!---->

                            <!--우편번호-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button" style="padding-bottom: 0px;">
                                <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="ess" style="font-size: 13px;" th:for="postal_code">우편번호</h3>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="text" placeholder="우편번호 찾기를 이용해 주세요" autocomplete="off" class="input_txt" id="sample6_postcode" th:field="*{postal_code}" readonly>
                                </div>
                                <div data-v-4e1fd2e6="" class="input_item" style="text-align: right;">
                                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                </div>
                            </div><!---->


                            <!--주소-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button">
                                <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="ess" style="font-size: 13px;" th:for="middle_address">주소</h3>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="text" placeholder="예) 수원시 팔달구 덕영대로 905" autocomplete="off" class="input_txt" id="sample6_address" th:field="*{middle_address}" readonly>
                                </div>
                            </div><!---->


                            <!--상세주소-->
                            <div data-v-4e1fd2e6="" data-v-286e873e="" class="input_box input_join has_button">
                                <h3 data-v-286e873e="" data-v-4e1fd2e6="" class="ess" style="font-size: 13px;" th:for="detailed_address">상세주소</h3>
                                <div data-v-4e1fd2e6="" class="input_item">
                                    <input data-v-4e1fd2e6="" type="text" placeholder="예) 아이메카빌딩 8층 802호" autocomplete="off" class="input_txt" id="sample6_detailAddress" th:field="*{detailed_address}" >
                                </div>
                            </div><!---->

                            <button type="submit" style="width: 400px; height: 60px; background-color: #ebebeb; font-weight: bold; color: #333; border-radius: 12px;">
                                회원가입
                            </button>

                        </form>
                    </div>
                </div><!---->
            </div>
        </div>
    </div>
</div>

<th:block th:replace="include/footer :: footer"></th:block>

<!--주소 찾기 api-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/js/kakaoAddress.js}"></script>

<!-- 이메일 인증 스크립트 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/emailCertification.js"></script>

<!--이메일 받아오기-->
<script>
    function setEmail(email) {
        // joinMemberForm.html 페이지의 이메일 필드에 이메일 주소 설정
        document.getElementById("email").value = email;
    }
</script>


<link href="/_nuxt/css/4244584.css" rel="stylesheet" type="text/css">
</body>
</html>