.size_item[data-v-1b874462] {
    display: table;
    float: left;
    height: 52px;
    margin: 4px;
    width: calc(33.33333% - 8px)
}

.size_item .btn[data-v-1b874462] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    display: table-cell;
    height: 100%;
    text-align: center;
    width: 100%
}

.size_item .btn[data-v-1b874462]:active {
    background-color: #f4f4f4;
    border-color: #d3d3d3
}

.size_item .btn.on[data-v-1b874462] {
    border-color: #333;
    font-weight: 700
}

.size_item .info_txt[data-v-1b874462] {
    color: #000;
    display: inline-block;
    font-size: 14px
}

.size_list_area[data-v-feb03f9c] {
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 6px 28px 0
}

.size_list_area[data-v-feb03f9c]:after {
    clear: both;
    content: "";
    display: block
}

.btn_layer_close[data-v-feb03f9c] {
    display: none
}

.layer.mo .size_list_area[data-v-feb03f9c],.layer.sm .size_list_area[data-v-feb03f9c] {
    height: 402px;
    padding: 6px 12px 36px
}

.layer.mo .btn_layer_close[data-v-feb03f9c],.layer.sm .btn_layer_close[data-v-feb03f9c] {
    display: block
}

.solid.disabled[data-v-feb03f9c],.solid[data-v-feb03f9c]:disabled {
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: rgba(34,34,34,.3);
    cursor: default
}

.btn_layer_close[data-v-feb03f9c] {
    cursor: pointer
}

.profile_info[data-v-cf6a6ef4] {
    max-width: 480px;
    padding-top: 38px
}

.modify[data-v-cf6a6ef4] {
    padding-top: 23px
}

.modify .title[data-v-cf6a6ef4] {
    color: #222;
    padding-bottom: 22px
}

.modify.name[data-v-cf6a6ef4] {
    padding-top: 25px
}

.modify_btn_box[data-v-cf6a6ef4] {
    font-size: 0;
    padding-top: 28px;
    text-align: center
}

.modify_btn_box .btn[data-v-cf6a6ef4] {
    padding: 0 38px
}

.modify_btn_box .btn+.btn[data-v-cf6a6ef4] {
    margin-left: 8px
}

.btn_withdrawal[data-v-cf6a6ef4] {
    color: rgba(34,34,34,.5);
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-top: 55px;
    padding: 5px 0
}

.btn_withdrawal[data-v-cf6a6ef4],.btn_withdrawal[data-v-cf6a6ef4]:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.mo .my_profile[data-v-cf6a6ef4],.sm .my_profile[data-v-cf6a6ef4] {
    padding: 0 24px 80px
}

.mo .my_profile .profile_info[data-v-cf6a6ef4],.sm .my_profile .profile_info[data-v-cf6a6ef4] {
    padding-top: 0
}

.mo .my_profile .btn_withdrawal[data-v-cf6a6ef4],.sm .my_profile .btn_withdrawal[data-v-cf6a6ef4] {
    display: none
}

.sm .my_profile[data-v-cf6a6ef4] {
    padding-left: 16px;
    padding-right: 16px
}

.btn_modify[data-v-cf6a6ef4] {
    position: absolute;
    right: 0
}

.header-btn.btn_home[data-v-cf6a6ef4] {
    display: flex;
    position: absolute;
    right: 16px;
    top: 11px
}

.header-btn.btn_home svg[data-v-cf6a6ef4] {
    height: 22px;
    width: 22px
}

.radio_item[data-v-08509152] {
    font-size: 0;
    margin-top: -22px;
    position: absolute;
    right: 0;
    top: 50%
}

.mo .other .radio_item[data-v-08509152],.sm .other .radio_item[data-v-08509152] {
    left: 0;
    margin-top: 0;
    right: auto;
    top: 0
}

.mo .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:before,.sm .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:before {
    left: 2px;
    right: auto
}

.mo .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:after,.sm .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:after {
    left: 7px;
    right: auto
}

.mo .other .radio_item .radio_label[data-v-08509152],.sm .other .radio_item .radio_label[data-v-08509152] {
    display: inline-block;
    padding: 0;
    width: auto
}

.mo .my_payment .other .radio_item[data-v-08509152],.sm .my_payment .other .radio_item[data-v-08509152] {
    margin-top: -12px;
    top: 50%
}

.radio_input[data-v-08509152] {
    clip: rect(0,0,0,0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 1px!important
}

.radio_input:checked~.radio_label[data-v-08509152]:before {
    border: 1px solid #222;
    border-radius: 100%;
    content: "";
    height: 20px;
    margin: -10px -15px 0 0;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 20px
}

.radio_input:checked~.radio_label[data-v-08509152]:after {
    background-color: #222;
    border-radius: 100%;
    content: "";
    height: 10px;
    margin: -5px -10px 0 0;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 10px
}

.address_list .radio_input:checked~.radio_label .ico-check-s[data-v-08509152] {
    display: block
}

.address_list .radio_input:checked~.radio_label[data-v-08509152]:after,.address_list .radio_input:checked~.radio_label[data-v-08509152]:before {
    display: none
}

.radio_label[data-v-08509152] {
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 10px 0 10px 10px;
    width: 100%
}

.address_list .radio_label .ico-check-s[data-v-08509152] {
    display: none
}

.radio_txt_box .radio_item[data-v-08509152] {
    float: left;
    margin-top: 0;
    position: relative
}

.radio_txt_box .radio_item+.radio_item[data-v-08509152] {
    margin-left: 19px
}

.radio_txt_box .radio_label[data-v-08509152] {
    color: rgba(34,34,34,.8);
    font-size: 14px;
    letter-spacing: -.21px;
    overflow: hidden;
    padding: 0
}

.radio_txt_box .radio_input:checked~.radio_label[data-v-08509152]:before {
    margin: -10px 0 0;
    right: 2px
}

.radio_txt_box .radio_input:checked~.radio_label[data-v-08509152]:after {
    margin: -5px 0 0;
    right: 7px
}

.radio_txt_box [class*=ico-][data-v-08509152] {
    float: right
}

.radio_txt_box .label_txt[data-v-08509152] {
    float: right;
    margin-right: 4px;
    margin-top: 2px
}

.horizontal.radio_item[data-v-08509152] {
    float: none;
    padding: 20px 0;
    width: 100%
}

.horizontal.radio_item+.radio_item[data-v-08509152] {
    border-top: 1px solid #ebebeb;
    margin-left: 0
}

.horizontal .radio_label[data-v-08509152] {
    display: flex;
    justify-content: space-between
}

.horizontal .radio_label .label_icons[data-v-08509152],.horizontal .radio_label .label_texts[data-v-08509152] {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.horizontal .radio_label .label_txt[data-v-08509152] {
    font-size: 15px
}

.horizontal .radio_label .label_desc[data-v-08509152] {
    color: rgba(34,34,34,.5);
    font-size: 13px
}

.horizontal .radio_input:checked~.radio_label .label_txt[data-v-08509152] {
    font-weight: 700
}
