.container[data-v-000bbc8a] {
  overflow: hidden
}

.container .home_list[data-v-000bbc8a],.container[data-v-000bbc8a] {
  position: relative
}

.container .wrap_pending[data-v-000bbc8a] {
  height: calc(100vh - 130px)
}

.md .container .wrap_pending[data-v-000bbc8a],.mo .container .wrap_pending[data-v-000bbc8a],.sm .container .wrap_pending[data-v-000bbc8a] {
  height: calc(100vh - 44px)
}
