.display_tag_item[data-v-416dde45] {
  border-radius: 2px;
  display: inline-flex;
  font-size: 11px;
  height: 20px;
  margin-right: 4px;
  padding: 4px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.display_tag_item .tag_icon[data-v-416dde45] {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.display_tag_item .tag_icon .icon[data-v-416dde45] {
  height: 12px;
  margin-right: 1.5px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 12px
}

.display_tag_item.bordered[data-v-416dde45] {
  padding: 3px 4px 5px
}

.layer_interest .suggest_link:active,.layer_interest .suggest_link:hover {
  background-color: transparent!important
}

.lg .home_tabs[data-v-2830b567] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px
}

.lg .lg .home_tabs[data-v-2830b567] {
  padding-left: 40px;
  padding-right: 40px
}
