body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    /*장바구니 배경에 깔려서 뺏음*/
    /*background-color: #f5f5f5;*/
}
.sidebar {
    background-color: #fff;
    color: #fff;
    width: 250px;
    padding: 20px;
}
.snb_main_title {
    font-size: 24px;
}
.snb_menu {
    list-style: none;
    padding: 0;
}
.menu_item {
    margin-bottom: 10px;
}
.menu_link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.content_area {
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
}
.content_title {
    font-size: 24px;
    margin-bottom: 20px;
}
.dropdown_list {
    list-style: none;
    padding: 0;
}
.dropdown {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}
.title_box {
    padding: 10px;
}
.title {
    font-size: 16px;
}

/* 한결 ()*/
li{
    margin-top: 10px;
}
div.dropdown{
    margin-bottom: 0;
}
div.div_start_end{
    display: flex;
    justify-content: space-between;
}
div.div_start_end p{
    display: inline-block;
}
div.dropdown_hidden{
    background-color: #f5f5f3;
    max-width: 910px;
    font-weight: 300;
    font-size: 14px;
    padding: 30px;
    border-radius: 5px;
    color: #272902;
}
div.dropdown_hidden_frame{
    width: 70%;
}
div.dropdown_hidden tr{
    border-top: 1px solid #ebebeb;
}
div.dropdown_hidden tr td {
    padding: 20px;
    text-align: left;
}
td.tbody_red{
    color: #fc6769;
    font-weight: 500;
}
p{margin-bottom: 9px;}
i{display: flex;}


/* 한결끝 */