body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.sidebar {
    background-color: #fff;
    color: #fff;
    width: 250px;
    padding: 20px;
}
.content_area {
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
}
.content_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.title_box {
    padding: 10px;
}
.title {
    font-size: 16px;
}