<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CategoryList</title>
    <th:block th:replace="include/header :: header"></th:block>
    <style>
        table {
    width: 500px;
    margin-left:70px;
    margin-bottom: 20px;
    text-align: center;
}
table tr, table th{
    padding:5px;
}

tr td{
    padding:5px;
}
table a{
    font-weight: 800;
}
.aa:hover{
    cursor: pointer;
    color: rgb(136, 136, 136);
}
#headth{
    background-color: rgb(223, 223, 223);
}
    </style>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<h2 id="addProduct">카테고리 리스트</h2>
<div class="container my lg" data-v-e2abb636="" data-v-cdf8523a="">
    <th:block th:replace="include/managerMenu :: managerMenu"></th:block>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr id="headth">
                <th>카테고리 아이디</th>
                <th>카테고리 이름</th>
                <th>버튼</th>
            </tr>
            </thead>
            <tbody>
            <tr class="aback" th:each="category : ${categoryList}">
                <td th:text="|${category.id}|"></td>
                <td th:text="${category.name}"></td>
                <td>
                    <a class="aa" th:href="@{/category/updatCategory/{id} (id=${category.id})}" >
                        수정
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>