<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>스타일</title>
    <th:block th:replace="include/header :: header"></th:block>
    <style>


    </style>
</head>

<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<div class="container my lg" data-v-e2abb636="" data-v-cdf8523a="">
    <th:block th:replace="include/managerMenu :: managerMenu"></th:block>
</div>
<th:block th:replace="include/footer :: footer"></th:block>
</body>

</html>