<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스타일</title>
    <th:block th:replace="include/header :: header"></th:block>
</head>
<body>
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>
<div class="header">
    <p th:text="|로그인: ${member.name}|">로그인 성공 페이지</p> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/products/add}">상품등록</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/products/myList}">등록 상품 리스트</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/products/myList}">공지사항 등록</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/category/form}">카테고리 등록</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/category/list}">카테고리 리스트</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/category/brand}">브랜드 등록</a> <br>
    <a th:unless="|${member.accessrigths == 'NORMAL'}|" th:href="@{/category/brandList}">브랜드 리스트</a> <br>


    <form th:action="@{/logout}" method="post"><button type="submit">로그아웃</button></form>
</div>
<th:block th:replace="include/footer :: footer"></th:block>
</body>
</html>