<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <th:block th:replace="include/header :: header"></th:block>

    <!--공지사항 css-->
    <!--<link rel="stylesheet" th:href="@{/css/customer.css}" type="text/css">-->
    <!--  위의 경로가 원래의 경로인데 css적용이 안되어서 아래줄 추가함.[Han]  -->
    <link rel="stylesheet" type="text/css" href="/static/css/H_customer.css">
</head>

<body>
<!--Header-->
<th:block th:replace="include/bodyHead :: bodyHeader"></th:block>

<div class="container">
    <div class="sidebar">
        <a href="/notice" aria-current="page">
            <h2 class="snb_main_title">고객센터</h2>
        </a>
        <nav>
            <ul class="snb_menu">
                <li class="menu_item"><a href="/customer/notice" aria-current="page" class="menu_link"> <span style="font-weight:bolder">공지사항</span> </a></li>
                <li class="menu_item"><a href="/customer/questions" class="menu_link"> 자주 묻는 질문 </a></li>
                <li class="menu_item"><a href="/customer/inspectionStandards" class="menu_link"> 검수 기준 </a></li>
            </ul>
        </nav>
    </div>
    <div class="content_area">
        <div class="content_title"><h2>공지사항</h2></div>
        <ul class="dropdown_list">

            <!-- 반복문 시작 -->
            <li th:each="notice : ${notices}">
                <a th:href="@{'/notice/' + ${notice.id}}">
                    <div class="dropdown">
                        <div class="title_box">
                            <p class="title" th:text="${notice.title}">[이벤트 발표] KREAM DRAW - 가을 셔츠</p>
                        </div>
                    </div>
                </a>
            </li>
            <!-- 반복문 끝 -->

        </ul>
    </div>
</div>

<!--footer-->
<th:block th:replace="include/footer :: footer"></th:block>
</body>
</html>
